<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="WcfServiceLibrary1.UserCrud" behaviorConfiguration="ServiceBehavior">
        
      <endpoint
              address="UserCrud" binding="basicHttpBinding" contract="WcfServiceLibrary1.IUserCrud"    
    />
        </service>
         <service name="WcfServiceLibrary1.QuestionCrud" behaviorConfiguration="ServiceBehavior">  
       <endpoint
              address="QuestionCrud" binding="basicHttpBinding" contract="WcfServiceLibrary1.IQuestionCrud"    
    />
      </service>
     <service name="WcfServiceLibrary1.AnswerCrud" behaviorConfiguration="ServiceBehavior">  
       <endpoint
              address="AnswerCrud" binding="basicHttpBinding" contract="WcfServiceLibrary1.IAnswerCrud"    
    />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>