@charset "ISO-8859-1";

body{
	padding-left:10%;
}
textarea{
	width:600px;
	height:300px;
}

input {
  background-color: #80ffff;
  color: #0000a0;
  padding: 14px 20px;
  width: 40%;
}

input:hover {
  opacity: 0.8;
}